.navbar {
	background-image: url("../../assets/img/bg-header.jpg");
	border-radius: 0px;
	border: none;
	height: 100px;
	margin-bottom: 0;
}

.navbar-nav, .navbar-header {
	color: white !important;
	padding-top: 30px;
}

.navbar-brand , .navbar-nav>li>a{
	color: white !important;
}