<div class="form-group">
	<div class="row">
		<div class="col-md-4">
			<label class="label-control">player</label>
			<input #player class="form-control"/>
		</div>
		<div class="col-md-4">
			<label class="label-control">team</label>
			<input #team class="form-control"/>
		</div>
		<div class="col-md-4">
			<label class="label-control">author</label>
			<input #author class="form-control"/>
		</div>
	</div>
</div>

<div style="text-align: center;">
	<button type="button" class="btn btn-primary" (click)="onClickGetTransfers()">get transfers</button>	
</div>
