
<!-- Contact Section -->
    <section id="contact">
        <div>
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Search Transfer News !</h2>
                </div>
            </div>
            <div class="row">
                <div #error class="error" style="display: none;width: 50%;text-align: center;margin: 20px auto;">
                    <span>Player and Team cannot both be empty</span>
                </div>
                

                <div class="col-lg-8 col-lg-offset-2">
                    <div name="sentMessage" id="contactForm" novalidate>
                        <div class="row control-group">
                            <div class="form-group col-xs-12 floating-label-form-group controls">
                                <app-chips (bindModelDataChange)="getPlayers($event)" [placeholder]="Player" [type]="typeplayer" [autocompleteSource]="playerSource"></app-chips>
                                <p class="help-block text-danger"></p>
                            </div>
                        </div>
                        <div class="row control-group">
                            <div class="form-group col-xs-12 floating-label-form-group controls">
                                <select style="width: 20%;margin-top: 20px;background-color: #f0f0f0;margin: auto;align-content: center;" class="form-control" [(ngModel)]="player_team_op">
                                	<option value="AND">And</option>
                                	<option value="OR">Or</option>
                                </select>
                                <p class="help-block text-danger"></p>
                            </div>
                        </div>
                        <div class="row control-group">
                            <div class="form-group col-xs-12 floating-label-form-group controls">
                                <app-chips (bindModelDataChange)="getTeams($event)" [placeholder]="Team" [type]="typeteam" [autocompleteSource]="teamSource"></app-chips>
                                <p class="help-block text-danger"></p>
                            </div>
                        </div>
                        <div class="row control-group">
                            <div class="form-group col-xs-12 floating-label-form-group controls">
                                <select style="width: 20%;margin-top: 20px;background-color: #f0f0f0;margin: auto;align-content: center;" class="form-control" [(ngModel)]="team_author_op">
                                	<option value="AND">And</option>
                                	<option value="OR">Or</option>
                                </select>
                                <p class="help-block text-danger"></p>
                            </div>
                        </div>
                        <div class="row control-group">
                            <div class="form-group col-xs-12 floating-label-form-group controls">
                                
                                <app-chips (bindModelDataChange)="getAuthors($event)" [placeholder]="Author" [type]="typeauthor"></app-chips>
                            
                                <p class="help-block text-danger"></p>
                            </div>
                        </div>
                        <div class="form-group">
							<label style="color: #999;font-size: 1.5em;font-weight: unset; padding: 30px 0 30px 0;">Use Database</label>
							<input class="form-control pull-right" style="margin: 30px 0 30px 0;width: 50%;" type="checkbox" [(ngModel)]="useDb" />
						</div>
                        <br>
                        <div id="success"></div>
                    </div>
                </div>
            </div>
        </div>
    </section>

<div style="text-align: center; margin-bottom: 30px;">
	<button type="button" class="btn btn-primary" (click)="onClickGetTransfers()">get transfer news</button>	
</div>


