
.tweet{
	background-color: #f8f8f8;
	border-radius: 10px;
	padding: 20px;
	margin: 20px;
    box-shadow: 0 1px 14px -6px #000; 
}


.SandboxRoot{
	width: 100% !important;
} 

.custom-twitter-widget{
	background-color: #161625;
	border-radius: 2px;
	padding: 20px;
	margin: 20px;
	border: 1px solid #06061d;
    box-shadow: 0 1px 14px -6px #000;
    color: white;
}

.link-preview{
	background-color: #081023;
	margin: 40px;
}