<!-- <div class="custom-twitter-widget">
	<div class="row">
		<div class="col-md-2">
			<img style="padding-top: 30px;margin: auto;" class="img img-responsive" src="{{tweet.user.profile_image_url}}" />
		</div>
		<div class="col-md-10">
			<h1><a href="https://twitter.com/{{tweet.user.screen_name}}">{{tweet.user.name}}</a></h1>
		</div>
	</div>

	<div class="row">
		<div class="col-md-12" *ngIf="linkPreview">
			<img style="max-height: 100px;margin:auto;padding-top: 10px;" class="img img-responsive" src="{{tweet.user.profile_background_image_url}}" alt="">
		</div>
	</div>

	<div class="row">
		<h5 style="padding-left: 30px;">{{tweet.created_at}}</h5>

		<a href="{{linkPreview?.url}}" *ngIf="showLink" title="">
			<div class="link-preview">
				<div class="link-preview-image">
					<img src="{{linkPreview?.images[0]}}" class="img img-responsive" style="max-height: 400px;margin:auto;" alt="">
				</div>
				<div class="link-preview-heading">
					<h1>{{linkPreview?.heading}}</h1>
				</div>
				<div class="link-preview-description" style="padding:10px;">
					<p>{{linkPreview?.description}}</p>
				</div>
			</div>	
		</a>
		<p style="padding: 20px 30px 30px 30px;" #text></p>	

		<a  href="https://twitter.com/{{tweet.user.screen_name}}/status/{{tweet.id_str}}" title="">
			<button style="margin: 20px 30px 20px 30px;" type="button" class="btn btn-primary pull-right">Show More</button>
		</a>
	
	</div>
</div> -->

<div style="padding: 10px;" id="container" class="tweet_div" #tweet_div>
	
</div>
